<strong>9F</strong><br/>
<% @Flr9.each do |data| %>
  <a href="<%= data.imageURL %>"">
    <img src="<%= data.imageURL %>" style="height:80px;"></img>
  </a>
  <b><%= data.title %></b><br/>
<% end %>
<br/>
<br/>
<br/>
<br/>
<br/>
<strong>22</strong><br/>
<% @Flr9.each do |data| %>
  <a href="<%= data.imageURL %>"">
    <img src="<%= data.imageURL %>" style="height:80px;"></img>
  </a>
  <b><%= data.title %></b><br/>
<% end %>

